
.canvas-container {
    max-width: 100%;
    /* width: max-content; */
    max-height: 100%;
    display: flex;
    justify-content: center;
    background-color: aquamarine;

  }

canvas {
    /* max-height: 75vh; */
    max-width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #4da7ca;
  }
  canvas:hover{
    cursor: grab;
  }

  .btn:hover{
    cursor: pointer;
    scale: 1.2;
    background-color: #da7272;

  }

