.saved-container {
    /* display: none; */
    /* background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 300px; */

    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid grey;
    background: linear-gradient(to bottom right, #e0e0e0, #d2b48c, #808080, #d2b48c);
    justify-content: center;
    gap: 15px;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
    width: 80%;
    flex-direction: row;

}

h2 {
    /* display: block; */
    background: linear-gradient(to bottom right, #e0e0e0, #d2b48c, #808080, #d2b48c);
    box-shadow: -1px 1px 9px 11px rgb(19, 20, 22);
    border-radius: 10px;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.saved-meme-img {
    width: 180px;
}

.main-saved-container {
    margin: auto;
    display: none;
    display: none;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(to bottom right, #e0e0e0, #d2b48c, #808080, #d2b48c);
    padding: 20px;
    margin-top: 15px;
    gap: 10px;
    width: 700px;
    box-shadow: -1px 1px 9px 11px rgb(19, 20, 22);
    border-radius: 7px;
    margin-bottom: 80px;
}